body{
    background-color: rgb(30, 233, 216);
}
div{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: larger;
}
button{
    border-radius: 15px;
}

.container{
    background-color: rgb(231, 47, 255);
    width: 50%;
    display: flex;
    /*justify-content: center;*/
    justify-content: space-evenly;
    margin-right: 25%;
    margin-left: 25%;
    flex-direction: row;
}

.container0{
    background-color: rgb(231, 47, 255);
    width: 50%;
    display: flex;
    /*justify-content: center;*/
    justify-content: center;
    margin-right: 25%;
    margin-left: 25%;
    flex-direction: row;
    flex-wrap: wrap;
}

.container1{
    background-color: rgb(255, 47, 168);
    width: 50%;
    display: flex;
    /*justify-content: center;*/
    justify-content: center;
    margin-right: 25%;
    margin-left: 25%;
    flex-direction: row;
}


.item0{
    background-color: rgb(50, 54, 53);
    border-radius: 15px;
    border: 2px solid white;
    width: 50%;
    /*min-width: 200px;*/
    min-height: 50px;
    margin: 4px;  
    display: flex; 
    justify-content: center;
    align-items: center; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: xx-large;
    font-stretch: ultra-expanded;

}

.screen{
    display: flex; 
    justify-content: flex-end;
    align-items: flex-end; 
    background-color: rgb(0, 255, 157);
    border-radius: 15px;
    border: 2px solid white;
    width: 85%;
    /*min-width: 200px;*/
    min-height: 60px;
    margin: 4px;        
}

.item2{
    display: flex; 
    justify-content: center;
    background-color: rgb(0, 255, 157);
    border-radius: 15px;
    border: 2px solid white;
    width: 20%;
    /*min-width: 200px;*/
    min-height: 50px;
    margin: 4px;
    align-items: center;   
}

.item2:hover,.item3:hover{
    background-color: chartreuse;
}

.item3{
    display: flex; 
    justify-content: center;
    background-color: rgb(0, 255, 157);
    border-radius: 15px;
    border: 2px solid white;
    width: 15%;
    /*min-width: 200px;*/
    min-height: 60px;
    margin: 4px;
    align-items: center; 
}

.spacer{
    background-color:transparent;
    border-radius: 15px;
    border: 2px solid transparent;
    width: 15%;
    /*min-width: 200px;*/
    min-height: 60px;
    margin: 4px;    
}


